* {
    margin: 0;
    padding: 0;
    /* background-color: #14213d;
    color: white; */
    overflow-x: hidden;
}


html {
    scroll-behavior: smooth;
}

/* dcmitul: do not fix the background colors in the body */

/* header {
    width: 200px;
}

.header-content {
    text-align: center;
} */



/* The stuff that does not require screen specific css */
.landing {
    position: relative;
    width: 100%;
    height: 103vh;
    background-color: #0C2C47;
    overflow: hidden;
}


.landing .menupage {
    overflow: hidden;
    position: absolute;
    display: flex;
    height: inherit;
    width: inherit;
}


.landing .menupage .menubg {
    overflow: hidden;
    position: absolute;
    fill: #EFEAE6;
    top: -4vw;
    left: -4vw;
    scale: 0%;
    z-index: 5;

    transition: scale 0.5s ease-in-out;
}


body.menuaction .landing .menupage .menubg {
    scale: calc((2* (hypot(100vw, 100vh) + 5vw)) / 1px * 1%);
}


.landing .menupage .menu {
    width: 100vw;
    height: inherit;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.landing .menupage .index {
    top: 1vh;
    position: relative;
    z-index: 6;
    width:fit-content;
    height: inherit;

}


.landing .menupage .index .indexhead {
    font-family: 'Bodoni Modo', serif;
    font-weight: 500;
    color: #E2A54D;
    text-align: center;
    opacity: 0;

}


body.menuaction .landing .menupage .index .indexhead {
    animation: fadein 0.2s 0.3s forwards;
}


.landing .menupage .index .indexitems {
    position: inherit;
    left: 40vw;
    text-align: left;
    opacity: 0;
    z-index: 6;
}


.indexitems a {
    color: #2D5652;
    text-decoration: none;
}


body.menuaction .landing .menupage .index .indexitems {
    animation: faderight 0.30s 0.5s forwards;
}


.landing .landingtitle {
    display: flex;
    width: inherit;
    height: inherit;
}


.landing .landingtitle .menuicon {
    position: absolute;
    overflow: hidden;
    margin: 1.5vh;
    width: 5vw;
    height: 5vw;
    scale: 90%;
    rotate: 0deg;
    z-index: 10;

    transition: scale 0.25s ease-in-out, rotate 0.25s ease-in-out;
}


.landing .landingtitle .menuicon:hover {
    scale: 100%;
}



.landing .landingtitle .titletag {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.pane2 {
    position: relative;
    width: 100%;
    height: 103vh;
    /* background-color: #EFEAE6; */
    background-color: #E4F2EA;
}


.pane3 {
    position: relative;
    /* overflow: scroll; */
    width: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    /* background-color: #2D5652; */
    background-color: #EFEAE6;
}


.who {
    /* width: inherit; */
    height: 70vh;
}

.who .whohead {
    font-family: "Slabo 13px", serif;
    text-align: center;
    color: #2D5652;
}


.why {
    height: 70vh;
}

.why .whyhead {
    font-family: "Slabo 13px", serif;
    text-align: center;
    color: #2D5652;
}


.team {
    height: 70vh;
}

.team .teamhead {
    font-family: "Slabo 13px", serif;
    text-align: center;
    color: #2D5652;
}


.team .teamcrd {
    display: flex;
    height: 61vh;
    /* width: inherit; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.teamcard {
    /* height: 60vh; */
    /* width: inherit; */
    max-width: 90vw;
    max-height: 60vh;
}


/* Tashfeen: CSS addition to Pane3 */

/* .abtpane {
    padding: 10px;
}

.images {
    max-width: 100%;
    height: auto;
    display: block;
}

.abt-title {
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.abt-text {
    text-align: center;
    padding: 15px 10px 10px;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.abt-description {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.2px;
    max-width: 800px;
    margin: 0 auto;
}

.pane4 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 40px;
    background-color: #E2A54D;
    color: #EFEAE6;
    /* background-color: #0C2C47; */
}

.name1 {
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.tm-headings h2 {
    font-size: 1.8rem;
    margin: 0;
    letter-spacing: 0.5px;
}

.interests {
    text-align: left;
}

.projects {
    text-align: center;
}

.skills {
    text-align: right;
}

.tm-headings, .tm-text, .tm-lists {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.tm-headings {
    padding: 10px 20px;
}

.tm-text {
    padding: 10px 20px;
}

.tm-lists {
    padding: 0 20px;
}

.tm-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}

.tm-lists ul {
    margin: 0;
    padding-left: 25px;
}

.tm-lists li {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* --- */

.pane5 {
    position: relative;
    width: 100%;
    height: 103vh;
    /* background-color: #E4F2EA; */
    background-color: #E4F2EA;
}


.pane6 {
    position: relative;
    width: 100%;
    height: 103vh;
    background-color: #E2A54D;
    /* background-color: #0C2C47; */
}


@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}




/* The stuff that DOES require theme specific css */

/* For landscape screens, desktops */
@media screen and (orientation: landscape) {
    .landing .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 18vh;
        font-weight: 500;
        letter-spacing: 4vh;
        color: #E4F2EA;
        text-align: center;

        animation: fadein 0.5s 0.25s backwards;

    }


    .landing .landingtitle .tagline {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family: "Slabo 13px", serif;
        font-size: 4vh;
        letter-spacing: 0.7vh;
        color: #2D5652;
        text-align: center;

        animation: fadein 0.5s 0.5s backwards;
    }


    .pane2 .projpane {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vh;
        font-weight: 500;
        letter-spacing: 1vh;
        /* color: #E2A54D; */
        color: #0C2C47;
        text-align: center;

    }    


    .pane3 .abtpane {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vh;
        font-weight: 500;
        letter-spacing: 1vh;
        /* color: #EFEAE6; */
        color: #E2A54D;
        text-align: center;

    }


    .pane4 .name1 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vh;
        font-weight: 500;
        letter-spacing: 0.8vh;
        /* color: #E4F2EA; */
        color: #E4F2EA;
        text-align: center;

    }


    .pane5 .name2 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vh;
        font-weight: 500;
        letter-spacing: 0.8vh;
        color: #E2A54D;
        /* color: #0C2C47; */
        text-align: center;

    }


    .pane6 .name3 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vh;
        font-weight: 500;
        letter-spacing: 0.8vh;
        /* color: #E4F2EA; */
        color: #E4FEEA;
        text-align: center;

    }


    .landing .menupage .index .indexhead {
        font-size: 10vh;
        letter-spacing: 0.8vh;
    }


    .menupage .index .indexitems {
        font-size: 4vh;
        letter-spacing: 0.6vh;
    }


    .who .whohead {
        font-size: 7vh;
    }


    .team .teamhead {
        font-size: 7vh;
    }


    .why .whyhead {
        font-size: 7vh;
    }

}


/* For portrait screens, mobile phones */
@media screen and (orientation: portrait){
    .landing .title {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 20vw;
        font-weight: 500;
        letter-spacing: 4vw;
        color: #E4F2EA;
        text-align: center;

        animation: fadein 0.5s 0.25s backwards;

    }


    .landing .landingtitle .tagline {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family: "Slabo 13px", serif;
        font-size: 4vw;
        letter-spacing: 0.7vw;
        color: #2D5652;
        text-align: center;

        animation: fadein 0.5s 0.5s backwards;
    }


    .pane2 .projpane {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vw;
        font-weight: 500;
        letter-spacing: 1vw;
        /* color: #E2A54D; */
        color: #0C2C47;
        text-align: center;

    }    


    .pane3 .abtpane {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vw;
        font-weight: 500;
        letter-spacing: 1vw;
        /* color: #EFEAE6; */
        color: #E2A54D;
        text-align: center;
    }

    .pane4 .name1 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vw;
        font-weight: 500;
        letter-spacing: 0.8vw;
        /* color: #E4F2EA; */
        color: #E4FEEA;
        text-align: center;

    }


    .pane5 .name2 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vw;
        font-weight: 500;
        letter-spacing: 0.8vw;
        color: #E2A54D;
        /* color: #0C2C47; */
        text-align: center;

    }


    .pane6 .name3 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        font-family:'Bodoni Mode', serif;
        font-size: 10vw;
        font-weight: 500;
        letter-spacing: 0.8vw;
        /* color: #E4F2EA; */
        color: #E4FEEA;
        text-align: center;

    }


    .landing .menupage .index .indexhead {
        font-size: 10vw;
        letter-spacing: 1vw;
    }
    

    .menupage .index .indexitems {
        font-size: 4vw;
        letter-spacing: 0.6vw;
    }

}

/* Tashfeen Miyar: added this for about section description */

@media (max-width: 600px) {
    .abt-title {
        margin: 0;
    }

    .abt-description {
        text-align: left;
        margin-top: 8px;
        margin-left: 4px;
        font-size: 1rem;
    }

    .pure-g .abt-images {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* --- */